$color_primario: #444647;
$color_blanco: #ffffff;
$color_negro: #000000;
$color_gris: #808080;
$color_verdeagua: #40a065;
$color_verdeloro: #012c0b;
$color_grisclaro: #B5B2B2;
$color_grismuyclaro: #eeeeee;
$color_azul: #1f5588;



